* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  font-family: "Roboto", sans-serif;
}

.App {
  background-color: #282c34;
  color: rgb(238, 238, 238);
}
.App .wrapper {
  margin: 0 50px 20px 50px;
}

.App .container {
  min-width: 620px;
}

.App .headerImg {
  width: calc(60% + 5vmin);
  position: absolute;
  right: 0;
  top: 45px;
  margin: 0 auto;
}

.ProfilePicture,
.Did,
.Doing,
.Studied {
  min-height: 90vh;
  align-items: center;
  justify-content: center;
}

.ContactForm {
  min-height: 45vh;
  align-items: center;
  justify-content: center;
}

.App h1 {
  font-size: 7vw;
}
.App h2 {
  font-size: 6vw;
}
.App h3 {
  font-size: 4vw;
}

icon {
  width: 300px;
}

.App .coderNote {
  font-size: 12px;
}

.App .coderNote a {
  color: rgb(189, 189, 189);
  font-style: bold;
}

.App .updatedDate {
  text-align: right;
  font-size: 12px;
}
