.Aspire {
  text-align: center;
  margin-top: 100px;
}

.Aspire span.colorActive {
  color: #31ae97;
  transition: 600ms ease-in-out;
  animation: text 3s 1;
}
.Aspire .emphasis:hover {
  color: #31ae97;
  transition: 600ms ease-in-out;
}

@keyframes text {
  0% {
    letter-spacing: 2px;
  }
  30% {
    letter-spacing: 3px;
  }
  85% {
    letter-spacing: 2px;
  }
}

.Aspire .statement {
  margin-top: 50px;
  font-size: calc(1vw + 2vmin);
  font-style: italic;
}

.roles {
  font-size: calc(2vw + 2vmin);
}

.Aspire h4 {
  margin-top: 100px;
}

.Aspire hr {
  background-color: #dddddf;
  border: 6px solid #dddddf;
}
