.Did {
  text-align: center;
  margin-top: 150px;
}

.Did span.colorActive {
  color: #337fb7;
  transition: 600ms ease-in-out;
  animation: text 3s 1;
}

@keyframes text {
  0% {
    letter-spacing: 3px;
  }
  30% {
    letter-spacing: 8px;
  }
  85% {
    letter-spacing: 3px;
  }
}

.Did .roleOption button {
  color: #bdbdbd;
  background: none;
  border: none;
  margin-bottom: 20px;
}

.Did .roleOption button:hover {
  text-decoration: none;
  color: #41749b;
}

.Did .roleOption button.active {
  font-size: 25px;
  font-style: bold;
  color: #ffffff;
}

.Did .CardGroup {
  margin: 0 auto;
}
