.PortfolioCard {
  margin: 5px;
  font-family: "Roboto Condensed", sans-serif;
  padding: 0;
}

.PortfolioCard .card {
  background-color: rgba(255, 255, 255, 0.156);
  max-width: 330px;
  margin: 0 auto 10px;
}

.PortfolioCard .card img {
  border-radius: 0.25rem 0.25rem 0 0;
  transition: all 0.3s ease-out;
  max-width: 330px;
}

.PortfolioCard .more {
  background: rgba(255, 255, 255, 0.619);
  color: rgba(0, 0, 0, 0.748);
  font-size: 15px;
  padding: 5px 10px;

  border-radius: 10px;

  position: absolute;
  top: 150px;
  left: 127px;
}

.PortfolioCard .date {
  position: relative;
}

.PortfolioCard .card-title {
  display: block;
}

.PortfolioCard .card-text {
  height: 45px;
}
